<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainers List</title>
    <style>
       body {
            background-image: url('static/gym/background.jpg');
            background-size: cover;
            font-family: Arial, sans-serif;
            color: white;
            margin: 0;
            padding: 0;
        }
        header, main {
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.5); 
        }
        h1 {
            font-size: 2em;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>Trainers List</h1>
    </header>
    <main>
        <section>
            <ul>
                {% for trainer in trainers %}
                <li>{{ trainer.first_name }} {{ trainer.last_name }} - {{ trainer.specialty }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>
